
파이토치 첫걸음/.ipynb_checkpoints/ch05-checkpoint.ipynb
Kaggle/Titanic - Machine Learning from Disaster/.ipynb_checkpoints/Titanic - Machine Learning from Disaster-checkpoint.ipynb
Kaggle/Titanic - Machine Learning from Disaster/datasets/gender_submission.csv
Kaggle/Titanic - Machine Learning from Disaster/datasets/test.csv
Kaggle/Titanic - Machine Learning from Disaster/datasets/train.csv
파이토치 첫걸음/.ipynb_checkpoints/ch06-checkpoint.ipynb
